header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

main {
    margin: 20px;
    background-color: aliceblue;
    padding: 20px;
}

section {
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
}
